.main__wrapper-section {
  max-width: 1160px;
  height: 543px;
  margin: 0 auto;
}


.main__wrapper-elements {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.main__wrapper-title {
  max-width: 539px;
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__wrapper-cards {
  margin: 61px 2px;
  max-width: 1233px;
  height: 204px;
  display: flex;
  justify-content: space-between;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.wrapper__card:nth-child(1) {
  max-width: 240px;
  height: 200px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;

  &:hover {
    opacity: 0.8;
    border: 0px solid #ffffff;
    background-color: teal;
    box-shadow: 0px 5px 10px 0px teal;
    color: #ffffff;
  }
}

.wrapper__card:nth-child(2) {
  max-width: 240px;
  height: 200px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;

  &:hover {
    opacity: 0.8;
    color: #ffffff;
    background-color: #4d8dff;
    border: 0px solid #ffffff;
    box-shadow: 0px 5px 10px 0px #4d8dff;
  }
}

.wrapper__card:nth-child(3) {
  max-width: 240px;
  height: 200px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;

  &:hover {
    background-color: #740a76;
    opacity: 0.8;
    border: 0px solid #ffffff;
    box-shadow: 0px 5px 10px 0px #740a76;
    color: #ffffff;
  }
}

.wrapper__card:nth-child(4) {
  max-width: 240px;
  height: 200px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;

  &:hover {
    background-color: #f03e3d;
    opacity: 0.8;
    border: 0px solid #ffffff;
    box-shadow: 0px 5px 10px 0px #f03e3d;
    color: #ffffff;
  }
}

.wrapper-cards-btn-wrapper {
  height: 56px;
  width: 181px;
  margin: 54px auto;
}

.wrapper-cards-btn {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  padding: 10px 15px 9px;
  transition: 0.9;
  border-radius: 4px;
  background-color: #02897a;
  transition: 0.6s;

  &:hover {
    border: 1px solid #173a56;
    color: #000;
    background-color: #fff;
  }
}

.main__wrapper-cards {
  display: flex;
  flex-direction: column;
}

@media (max-width:934px) {
  .main__wrapper-wrap {
    display: flex;
    flex-direction: column;
  }



  .main__wrapper-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
  }

  .wrap {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .wrapper__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper__card-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .wrapper__card-subtitle-p {
    text-align: center;
  }
}