.reviews-section {
    max-width: 1110px;
    margin: 0 auto;
}

.reviews__wrapper-item {
    margin: 0 auto;
    max-width: 350px;
}

.reviews__wrapper-main {
    max-width: 440px;
    margin: 0 auto;
}

.reviews__wrapper-title {
    text-align: center;
    color: #22343D;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
}

.reviews__wrapper-subtitle {
    margin: 0 auto;
    text-align: center;
    width: 495px;
    padding: 27px 18px;
    margin-left: -30px;
    line-height: 25px;
}


.review__card-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    max-width: 327px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    background-color: #fff;
}

.review__card-title {
    display: flex;
    gap: 20px;
    padding: 15px 0;
}

.review__card-subtitle {
    color: #737373;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.reviews__card-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

@media(max-width:768px) {
    .reviews__card-wrapper {
        max-width: 768px;
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .review__card-subtitle {
        max-width: 300px;
    }

    .row {
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        align-items: center;
    }

    .reviews__wrapper-item{
        margin-top: 90px;
    }

    .reviews__wrapper-main {
        display: flex;
        gap: 40px;
        flex-direction: column-reverse;
    }

    .reviews__wrapper-subtitle {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
        margin-left: -50px;

    }
}

@media(max-width:420px) {
    .reviews__card-wrapper {
        max-width: 420px;
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .review__card-subtitle {
        max-width: 300px;
    }

    .row {
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        align-items: center;
    }

    .reviews__wrapper-item{
        margin-top: 90px;
    }

    .reviews__wrapper-main {
        display: flex;
        gap: 40px;
        flex-direction: column-reverse;
    }

    .reviews__wrapper-subtitle {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
        margin-left: -50px;

    }
}